<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Click the checkboxes</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-passenger (toggleShowForm)="setShow($event)" [showForm]="showContactForm === 0" [num]="0"></app-passenger>
  <app-passenger (toggleShowForm)="setShow($event)" [showForm]="showContactForm === 1" [num]="1"></app-passenger>
  <app-contact (toggleShowForm)="setShow($event)" [showForm]="showContactForm === -1"></app-contact>
</ion-content>
