ion-checkbox::part(mark) {
  d: path("M21 7.00831C20.9984 7.12349 20.9114 7.16146 20.8542 7.21618C20.3193 7.72788 19.7815 8.23663 19.2441 8.7458C18.4034 9.54241 17.5621 10.3384 16.7215 11.1352C14.9711 12.7944 13.2206 14.4537 11.4708 16.1137C10.8818 16.6725 10.2948 17.2335 9.70681 17.7934C9.65493 17.8428 9.60351 17.8927 9.54957 17.9398C9.46652 18.0123 9.40492 18.0158 9.32785 17.9508C9.264 17.8969 9.20247 17.8403 9.14167 17.783C8.47259 17.1524 7.80365 16.5217 7.13507 15.8906C5.84132 14.6694 4.54761 13.4482 3.25472 12.2261C3.16837 12.1445 3.08872 12.0557 3.00699 11.9693C3.00078 11.9627 2.99759 11.9442 3.00215 11.9383C3.0157 11.9209 3.03389 11.8936 3.05014 11.8937C3.58718 11.8967 4.12422 11.9004 4.66121 11.9086C5.18389 11.9165 5.67355 12.0541 6.13858 12.2902C6.40783 12.4269 6.64129 12.6092 6.85897 12.8158C7.51713 13.4405 8.17692 14.0635 8.83621 14.6871C8.98368 14.8266 9.12998 14.9673 9.28005 15.104C9.38493 15.1994 9.44616 15.1954 9.55846 15.0957C9.60309 15.0561 9.64567 15.0141 9.68907 14.9732C11.1213 13.6204 12.5534 12.2674 13.9858 10.9149C14.663 10.2756 15.3404 9.63642 16.0189 8.99845C16.3863 8.65304 16.7996 8.36958 17.2351 8.11882C18.1126 7.61353 19.0489 7.26978 20.0517 7.11522C20.3229 7.07342 20.595 7.03749 20.8671 7.00176C20.9104 6.99608 20.9557 7.00575 21 7.00831Z");
  fill: #2b7de1 !important;
}

ion-checkbox {
  --background-checked: white;
  --size: 2rem;
  --checkmark-width: 2px;
  --checkmark-color: transparent;
  --border-color: #2b7de1;
  --border-width: 2px;
  --transition: 2s;
  margin-right: 1rem;
}
